######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
#application.properties
.classpath
.settings/
.loadpath
.factorypath
.tern-project
/src/main/resources/rebel.xml


######################
# Package Files
######################
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-commons/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-config-server/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-eureka-server/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-gateway-server/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-item/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-oauth/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-productos/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-usuarios/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-usuarios-commons/target/
/CURSO-MICROSERVICIOS-SPRING/springboot-servicio-zuul-server/target/

*.zip
zipkin-server-2.23.2-exec.jar
*.exe
*.txt



